<div class="tab" ng-style={color:fontcolor,fontSize:fontsize}>
    <style>
        li{
            list-style: none;
        }
        .ng-animate{
            opacity: 1;
            height: 100px;
            transition:all 1s ease;
        }
        .ng-animate.ng-hide{
            opacity: 0;
            height: 0;
            transition:all 1s ease;
        }
    </style>
    <div class="title" >
        <ul>
            <li ng-repeat="item in data track by $index">
                <p  ng-click="change($index)">{{item.title}}</p>
                <ul class="con" ng-show="$index==num" class="ng-animate">
                    <li ng-repeat="items in item.son track by $index">{{items.sontitle}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>